* {
    font-family: "IBM Plex Sans Thai Looped", serif;
}

.ibm-plex-sans-thai-looped-regular {
    font-family: "IBM Plex Sans Thai Looped", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.ibm-plex-sans-thai-looped-medium {
    font-family: "IBM Plex Sans Thai Looped", serif;
    font-weight: 500;
    font-style: normal;
  }
  
.ibm-plex-sans-thai-looped-semibold {
    font-family: "IBM Plex Sans Thai Looped", serif;
    font-weight: 600;
    font-style: normal;
  }
  
.recent-event-container {
    display: flex; /* ใช้ Flexbox */
    flex-direction: column; 
    background-color: rgb(255, 255, 255); /* เปลี่ยนสีพื้นหลังให้อ่านง่ายขึ้น */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;

}
.recent-event-container-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}


.title-name {
    font-size: 18px;
    color: #fc6ea0; 
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    /* border: 1px solid #000000;
    background-color: bisque; */
    width: 50%;
}



.recent-event-card {
    /* min-height: 124px;
    background: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid #ddd;
    width: 100%;
    cursor: pointer; */
    background: rgb(255, 255, 255);
    padding-left: 10px;
  
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid #ddd;
    
    /* 🔹 กำหนดขนาดที่แน่นอน */
    width: 100%; /* กำหนดความกว้าง */
    height: 10%; 

    cursor: pointer;

    transition: background-color 0.3s ease-in-out;
}

.recent-event-card:hover {
    background-color: rgba(255, 244, 147,0.7);
}

.event-time {
    
    font-size: 14px;
    color: green;
    font-weight: bold;
    
   
   
}

.event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}


.event-title{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    align-items: flex-start;
    font-size: 18px;
    color: deeppink; 
    font-family: "IBM Plex Sans Thai Looped", serif;
    font-weight: 600;
    font-style: bold;

}

.Time {
    width: 50%;
    font-size: 75%;
    color: #7a7a7a;
    font-weight: 500;
    white-space: nowrap;
    padding: 2px 5px;
    display: block;

}

.event-body {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    color: gray;
   
}

.creator {
    font-size: 14px;
    font-weight: 500;
    color: #7a7a7a;
}

.participants {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 5px;
    font-family: "IBM Plex Sans Thai Looped";
    font-weight: 500;
    
}

.tags-container {
    display: flex;
    color: #666;
    font-weight: 400;
    font-family: "IBM Plex Sans Thai Looped";

}

.tag-button {
    /* background: #ddd; */
    border: none;
    padding: 2px 7px;
    border-radius: 15px;
    margin-right: 5px;
    font-size: 12px;
    cursor: default;
    margin-bottom: 5px;
    color: #666;
}
/* 
.tag-button:hover {
    background-color: #BDBDBD;
} */

.fa-user {
    color: #666;
    margin-right: 5px;
    margin-bottom: 5px;
}
.fa-location-dot {
    color: #666;
}
.location {
    display: inline-block; /* หรือ inline-block ก็ได้ */
    
    max-width: 150px; /* จำกัดความกว้างของชื่อสถานที่ */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* ถ้ายาวเกิน ให้ขึ้น "..." */
    font-size: 14px;
    font-weight: 500;
    color: #7a7a7a;

    vertical-align: bottom;
}
@media (max-width: 600px) {
    .recent-event-card {
        min-height: 124px;
        background: white;
        padding: 15px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
        position: relative;
        border: 1px solid #ddd;
        width: 100%;
        cursor: pointer;
    }

    .recent-event-card:hover {
        scale: 1.02;
    }

    .event-time {
        position: absolute;
        top: -26px; /* เลื่อนขึ้นไปให้ชิดขอบการ์ด */
        right: 10px; /* จัดให้ชิดขวา */
        font-size: 14px;
        color: green;
        font-weight: bold;
    }

    .event-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
    }

    .recent-event-card  {
        font-size: 24px;
        font-weight: bold;
        margin: 5px 0;
    }

    .event-title{
        font-size: 18px;
        color: #fc6ea0; 
        white-space: nowrap;  
        overflow: hidden;  
        text-overflow: ellipsis;  
        /* border: 1px solid #000000;
        background-color: bisque; */
        width: 40%;
        
    }

    .Time {
        width: 30%;
        font-size: 20px;
        color: gray;
        font-weight: normal;
    }

    .event-body {
        flex-direction: column;
    }

    .creator {
        font-size: 14px;
    }

    .recent-event-content > .event-body >.participants {
        display: flex;
        align-items: center;
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .tags-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        
    }

    .tag-button {
        background: #ddd;
        border: none;
        padding: 5px 10px;
        border-radius: 15px;
        margin-right: 5px;
        font-size: 12px;
        cursor: default;
    }

    .tag-button:hover {
        background-color: #BDBDBD;
    }

    .fa-user {
        color: #666;
        margin-right: 5px;
        margin-bottom: 2px;
    }
}

@media (max-width: 1200px) {
    .event-body {
        flex-direction: column;
    }
    .tags-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
    }

    .host-container{
        width: 100%;
    }
    
    .event-time {
        position: absolute;
        top: -26px; /* เลื่อนขึ้นไปให้ชิดขอบการ์ด */
        right: 10px; /* จัดให้ชิดขวา */
        font-size: 14px;
        color: green;
        font-weight: bold;
    }

    .recent-event-content > .event-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        width: 100%;
    }

    .recent-event-card .event-title {
        font-size: 24px;
        font-weight: bold;
        margin: 5px 0;
    }

    .Time {
        width: 30%;
        font-size: 20px;
        color: gray;
        font-weight: normal;
    }

    .creator {
        font-size: 16px;
    }

    .recent-event-content > .event-body > .participants {
        display: flex;
        align-items: center;
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

}