.header {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 32px;
    font-weight: bold;
    color: white;
    font-family: 'Suez One';
}

/* ตั้งค่าพื้นหลังไล่สี */
body {
    font-family: 'Sulphur Point';
    background: linear-gradient(to bottom left, #ffaab8, #C1FFC1);
    flex-flow: column-reverse;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh; /* ใช้ min-height แทน height */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* กล่องสมัครสมาชิก */
.interests-container {
    margin: auto;
    background: rgba(255, 255, 255, 0.70);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    box-sizing: border-box;
}

/* หัวข้อ */
h2 {
    font-family: 'Sulphur Point';
    color: #FF6B6B;
    margin-bottom: 20px;
    font-size: 24px;
}

.back-button {
    align-self: flex-start;
    cursor: pointer;
}

.search-container {
    position: relative;
    width: 100%;
}

#search-tags {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 20px;
    outline: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.suggestion-box {
    position: absolute;
    width: 100%;
    background: #ffffff;
    border: 1px solid #555;
    border-radius: 5px;
    display: none; /* ซ่อนโดยค่าเริ่มต้น */
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.suggestion-item:hover {
    background: #ababab;
}


#tag-container{
    width: 100%;
    max-width: 100%;
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#tag-carousel-interest{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.back-button {
    font-size: 16px;
    color: #333;
    cursor: pointer;
    margin-bottom: 20px;
}

.tag-btn {
    display: inline-block;
    padding: 8px 20px;
    background-color: #fff; /* หรือสีอื่นที่คุณใช้อยู่ */
    border-radius: 20px;
    border: 1px solid #ccc; /* กรอบเล็กๆ หากต้องการ */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* เงาเบาๆ */
    cursor: pointer;
    font-size: 16px;
    color: #333;
    text-align: center;
    transition: all 0.3s ease;
}

.tag-btn:hover {
    background-color: #f0f0f0; /* สีพื้นหลังเมื่อวางเมาส์ */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* เงาเพิ่มขึ้นเมื่อวางเมาส์ */
}


.tag-btn.active {
    background-color: #f4979c;
    color: white;
}

.create-account {
    padding: 10px 20px;
    background-color: #f4979c;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}





