@{
    ViewData["Title"] = "Meet ME!";
    ViewData["ShowHeader"] = "True";
    ViewData["ShowNavCarousel"] = "True";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Homepage</title>

    <link rel="stylesheet" href="~/css/Home/index.css">
    <link rel="stylesheet" href="~/css/EventCard/HotCard.css">
    <link rel="stylesheet" href="~/css/EventCard/RecentCard.css">
    <link rel="stylesheet" href="~/css/EventCard/UpcomingCard.css">
</head>
<script src="~/js/Home/index.js"></script>
<script src="~/js/Home/app.js"></script>

<body>

    <section class="events">
        <div class="upcoming">
            <h2>Your Upcoming Events</h2>
            <div class="upcoming-content">
                [upcoming-content]
            </div>

        </div>
        <div class="invitation">
            <h2>Recent Invitation</h2>
            <div class="recent-content">
                [recent-content]
            </div>

            <div class="show-more-container">
                <a href="@Url.Action("SearchPage", "Event", new { sortOrder = "recent" })" class="show-more-button">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </div>


        </div>
    </section>

    <section class="recommendations">
        <div class="interest">
            <h2>You may interested</h2>
            @* <div class="categories">
                <div>Sports</div>
                <div>BoardGame</div>
                <div>Dinner</div>
            </div> *@
        </div>
        <div class="hot">
            <div class="hot-frame">
                <img src="~/image/fire.png" alt="Hot" class="hot-icon">
                <div class="hot-text">Hot</div>
            </div>
            <div class="hot-content">[Hot Content]</div>
        </div>
    </section>

    <button class="add-event">+</button>

</body>

</html>
