@{
    ViewData["Title"] = "Event Homepage";
    ViewData["ShowFooter"] = true;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Homepage</title>

    <link rel="stylesheet" href="~/css/index.css">
</head>
<script src="~/js/site.js"></script>




<body>
    @* <section class="carousel">
        <button class="prev">&#10094;</button>
        <div class="slides-container">
            <div class="slide">[1]</div>
            <div class="slide">[2]</div>
            <div class="slide">[3]</div>
            <div class="slide">[4]</div>
            <div class="slide">[5]</div>
            <div class="slide">[6]</div>
            <div class="slide">[7]</div>
            <div class="slide">[8]</div>
            <div class="slide">[1]</div>
            <div class="slide">[2]</div>
            <div class="slide">[3]</div>
            <div class="slide">[4]</div>
            <div class="slide">[5]</div>
            <div class="slide">[6]</div>
            <div class="slide">[7]</div>
            <div class="slide">[8]</div>
        </div>
        <button class="next">&#10095;</button>
    </section> *@

    <div class="carousel-container">
        <button id="prev-btn" class="carousel-btn">❮</button>
        <div class="carousel">
            <div id="tag-carousel" class="carousel-content"></div>
        </div>
        <button id="next-btn" class="carousel-btn">❯</button>
    </div>

    <section class="events">
        <div class="upcoming">
            <h2>Your Upcoming Events</h2>
            <div class="event-list">[Events]</div>
        </div>
        <div class="invitation">
            <h2>Recent Invitation</h2>
            <div class="invite-list">[Invitations]</div>
        </div>
    </section>

    <section class="recommendations">
        <div class="interest">
            <h2>You may be interested</h2>
            <div class="categories">
                <div>Sports</div>
                <div>BoardGame</div>
                <div>Dinner</div>
            </div>
        </div>
        <div class="hot">
            <h2>Hot</h2>
            <div class="hot-content">[Hot Content]</div>
        </div>
    </section>

    <button class="add-event">+</button>

</body>

</html>
